//отключить перед сборкой css для прода
//@import "styleProd/styleProd";
//@import "styleProd/splideProd";
//отключить перед сборкой css для прода


@import "aboutBlock/aboutFirstBlock";
@import "aboutBlock/aboutNumberBlock";
@import "aboutBlock/aboutSlideBlock";
@import "aboutBlock/aboutProductsBlock";
@import "aboutBlock/aboutStrongBlock";
@import "aboutBlock/aboutGeoBlock";
@import "aboutBlock/aboutTimelineBlock";
