.aboutStrongBlock{
  padding-top: 32px;
  padding-bottom: 16px;
  @media screen and (min-width: 991px) {
    padding-top: 64px;
    padding-bottom: 32px;
  }
  background: rgba(242, 249, 255, 1);
  &__title{
    font-size: 24px;
        @media screen and (min-width: 991px) {
          font-size: 32px;
        }
    font-weight: 700;
    line-height: 140%;
    text-transform: uppercase;
    color: rgba(0, 84, 170, 1);
    padding-bottom: 32px;
  }
  &__content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 16px;
    &_item{
      border-radius: 4px;
      border: 1px solid rgba(134, 134, 134, 1);
      padding: 16px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: calc(50% - 8px);
      @media screen and (max-width: 766px) {
        width: 100%;
      }
      @media screen and (min-width: 991px) {
        padding: 20px;
      }
      &-title{
        font-size: 23px;
        font-weight: 700;
        line-height: 140%;
        color: rgba(0, 84, 170, 1);
        padding-bottom: 24px;
        display: flex;
        align-items: flex-start;
        gap: 8px;
      }
      &-text{
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        color: rgba(108, 108, 108, 1);
      }
    }
  }
}