{% include "blocks/base/_page-head.html" %}
{% include "blocks/header/_header.html" %}

        <main class="page">
                {% include "blocks/aboutBlock/_first-block.html" %}
                {% include "blocks/aboutBlock/_number-block.html" %}
                {% include "blocks/aboutBlock/_slide-block.html" %}
                {% include "blocks/aboutBlock/_products-block.html" %}
                {% include "blocks/aboutBlock/_strong-block.html" %}
                {% include "blocks/aboutBlock/_geo-block.html" %}
                {% include "blocks/aboutBlock/_timeline-block.html" %}
        </main>
{% include "blocks/footer/_footer.html" %}

{% include "blocks/base/_page-down.html" %}