{% include "blocks/base/_page-head.html" %}
{% include "blocks/header/_header.html" %}

        <main class="page">
                {% include "blocks/breadcrumbs/_breadcrumbs.html" %}
                {% include "blocks/vebinar/_vebinarList.html" %}
                {% include "blocks/vebinar/_vebinarListAdd.html" %}
                {% include "blocks/vebinar/_vebinar-popup-Add.html" %}
                {% include "blocks/vebinar/_vebinar-popup-Note.html" %}
        </main>
{% include "blocks/footer/_footer.html" %}

{% include "blocks/base/_page-down.html" %}