.mailing{
  padding: 64px 0;
  .mailingSend{
    padding: 64px;
    background: #0054AA;
    border-radius: 12px;
    position: relative;
    @media screen and (max-width: 992px) {
      padding: 32px 16px;
    }
    &__content{
      margin: 0 auto;
      max-width: 781px;
      position: relative;
      z-index: 1;
      &_title{
        font-size: 32px;
        font-weight: 700;
        line-height: 41px;
        text-transform: uppercase;
        padding-bottom: 16px;
        color: #ffffff;
        text-align: center;
        @media screen and (max-width: 992px) {
          font-size: 24px;
          line-height: 34px;
        }
      }
      &_text{
        font-size: 24px;
        font-weight: 400;
        line-height: 32px;
        padding-bottom: 56px;
        color: #ffffff;
        text-align: center;
        @media screen and (max-width: 992px) {
          font-size: 16px;
          line-height: 24px;
        }
      }

    }
    &__form{
      display: flex;
      flex-direction: column;
      gap: 22px;
      @media screen and (max-width: 576px) {
        gap: 6px;
      }
      .input-wrapper{
        .form-popover-note{
          color: #ffffff;
          font-size: 16px;
          font-weight: 400;
        }
        .checkbox{
          span:not(.radio-title,.toggler){
            font-size: 16px;
            color: #ffffff;
          }
          span:not(.radio-title,.toggler)::before {
            border: 2px solid #ffffff;
            background:  #0054AA;
          }
          span:not(.radio-title):hover::before {
            border: 2px solid #05adff;
            background:  #0054AA;
          }
          input:user-invalid + span::before {
            border-color: red;
            animation: tilt-shaking .25s linear 10;
          }
          input:checked + span:not(.radio-title)::before {
            background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAiIGhlaWdodD0iNyIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICA8cGF0aCBkPSJNMy41IDdMMCAzLjVsMS0xTDMuNSA1bC41LS41TDguNSAwbDEgMS02IDZ6IiBmaWxsPSIjZmZmZmZmIi8+Cjwvc3ZnPg==);
            background-repeat: no-repeat;
            background-position: 2px 3px;
            background-size: 12px auto;
          }
        }
      }
      .btn-primary1{
        border-color: #ffffff;
      }
      .customSelect {
        position: relative;
        cursor: pointer;

        &.open{
          .customSelect__label {
            &:after {
              transform: rotateY(180deg);
            }
          }
        }

        &__label {
          display: block;
          position: relative;
        }
        &.open{
          &:after {
            transform: translateY(-50%) rotateX(180deg);
          }
        }
        &:after {
          content: '';
          position: absolute;
          right: 28px;
          top: 28px;
          transform: translateY(-50%);
          width: 14px;
          height: 8px;
          background: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iNyIgdmlld0JveD0iMCAwIDEyIDciIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik01LjY1Mzc1IDYuNzA3NUwwIDEuMDUzNzVMMS4wNTM3NSAwTDUuNjUzNzUgNC42TDEwLjI1MzcgMEwxMS4zMDc1IDEuMDUzNzVMNS42NTM3NSA2LjcwNzVaIiBmaWxsPSIjOEE4QThFIi8+Cjwvc3ZnPgo=") no-repeat center;
          background-size: contain;
          transition: transform .3s ease;
          @media screen and (max-width: 576px) {
            top: 25px;
          }
        }

        &__ul {
          display: none;
          border-radius: 4px;
          z-index: 15;
          list-style: none;
          margin: 0;
          position: relative;

          &.active {
            display: block;
          }

          li {
            padding: 16px 24px;
            min-height: 56px;
            background: #fff;
            font-size: 16px;
            line-height: 24px;
            border-radius: 4px;
            border-bottom: 1px solid #D5D5D5;
            @media screen and (max-width: 576px) {
              padding: 12px 18px;
              min-height: 46px;
              background: #fff;
              font-size: 14px;
              line-height: 22px;
            }
            &:last-child{
              border-bottom: 1px solid transparent;
            }
            cursor: pointer;
            transition: background .2s ease;
            @media screen and (min-width: 768px) {
              &:hover {
                background: #00357A;
                color: #fff;

              }
            }

            &.active {
              background: #00357A;
              color: #fff;

              &:hover {
                background: #00357a;
              }
            }

            &[aria-selected="true"] {
              background: #00357A;
              color: #fff;
            }
          }
        }
      }

      .input-wrapper-select {
        &.newInput {
          .customSelect {
            &__ul {
              li[data-tab="newInput"] {
                background: #00357A;
                color: #fff;
              }
            }
          }

          input[type="text"]:not(.customSelect__label) {
            display: block !important;
            margin-top: 24px;
            @media screen and (max-width: 576px) {
              margin-top: 16px;
            }
          }
        }



        input[type="text"]:not(.customSelect__label) {
          display: none;
        }
      }
    }
    &__imgTop{
      position: absolute;
      left: -65px;
      top: 31px;
      @media screen and (max-width: 992px) {
        display: none;
      }
      & picture, img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
      }
    }
    &__imgBottom{
      position: absolute;
      right: 0;
      bottom: 0;
      @media screen and (max-width: 992px) {
        display: none;
      }
      & picture, img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
      }
    }
    @media screen and (max-width: 576px) {
      .input-wrapper input[type=email] {
        height: 50px;
        font-size: 14px;
        padding-inline: 1.2em;
      }
    }

  }
}

.mailingBanner{
  padding-bottom: 64px;
  @media screen and (max-width: 992px) {
    padding-bottom: 32px;
  }
  &__box{
    padding: 51px 36px;
    background: #0054AA;
    border-radius: 12px;
    position: relative;
    @media screen and (max-width: 992px) {
      padding: 32px 16px;
    }
    &_content{
      max-width: 616px;
      @media screen and (max-width: 1200px) {
        max-width: 416px;
      }
      @media screen and (max-width: 992px) {
        max-width: 100%;
        text-align: center;
      }
      &-title{
        font-size: 32px;
        font-weight: 700;
        line-height: 41px;
        text-transform: uppercase;
        padding-bottom: 16px;
        color: #ffffff;
        @media screen and (max-width: 992px) {
          font-size: 24px;
          line-height: 34px;
        }
      }
      &-text{
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        padding-bottom: 56px;
        color: #ffffff;
        @media screen and (max-width: 1200px) {
         br{
           display: none;
         }
        }
      }
      .btn-secondary{
        max-width: max-content;
        @media screen and (max-width: 992px) {
          max-width: 100%;
        }
      }
    }
    &_img{
      position: absolute;
      right: 100px;
      top: 35px;
      @media screen and (max-width: 992px) {
        display: none;
      }
      & picture, img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
      }
    }
  }

}

.mailingBannerThanks{
  padding: 64px 0;
  &__box{
    padding: 51px 36px;
    border:1px solid #0054AA;
    border-radius: 12px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    text-align: center;
    @media screen and (max-width: 992px) {
      padding: 32px 16px;
    }
    &_title{
      font-size: 24px;
      font-weight: 700;
      line-height: 32px;
      color:  #0054AA;
      padding-top: 40px;
    }
    &_text{
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      color: #000000;

    }
    &_img{
      width: 185px;
      & picture, img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
      }
    }
  }
}
